* {
  box-sizing: border-box;
  font-family: sans-serif;

  --side-margin: 1rem;
}

html,
body {
  height: 100svh;
  margin: 0;
  background-color: #5a5a5a;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 0;
  background-color: gray;
}

nav {
  margin: 0 var(--side-margin);
}

main {
  flex: 1;
  margin: var(--side-margin);
}

footer {
  padding: var(--side-margin);
  background-color: gray;
}
