* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*::selection {
  color: black;
  background-color: white;
}

:root {
  --primary-color: white;
  --secondary-bg: #88958d;
  --primary-bg: #606d5d;
  --logo-color: #270b1a;
  --accent-color: #bc9cb0;
  --side-margin: 1rem;
}

@media (width < 500px) {
  :root {
    font-size: 12px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

#app {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  margin: var(--side-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  text-align: end;
  padding: var(--side-margin);
  background-color: var(--secondary-bg);
  border-top: 1px solid #97b195;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0.3rem 0;
}

ul {
  margin: 0;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  all: unset;
  display: block;
  position: relative;
  box-sizing: border-box;
  color: black;
  background-color: white;
  border-radius: 0.2rem;
  padding: 0.3rem;
}

input[type='submit'],
button {
  all: unset;
  cursor: pointer;
  background-color: #d6d6d6;
  color: var(--logo-color);
  text-align: center;
  padding: 0.5rem 1rem;
  width: fit-content;
  border: 1.5px solid var(--logo-color);
  border-radius: 0.3rem;
}

input[type='submit']:hover:not(:disabled),
button:hover:not(:disabled) {
  background-color: var(--accent-color);
}

button:disabled {
  filter: brightness(0.7);
  opacity: 0.5;
}

input[type='submit']:hover:disabled,
button:hover:disabled {
  cursor: not-allowed;
}

textarea::selection {
  color: white;
  background-color: blue;
}

sub {
  font-size: 0.7rem;
  color: #ffffff88;
}
