#contact-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}

#contact-view > h1 {
  text-align: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min(50vw, 800px);
  height: 60%;
}

#contact-form > div {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}

#contact-form > div:last-of-type {
  flex-direction: column;
  align-items: start;
  row-gap: 0.3rem;
  width: 100%;
}

#contact-form textarea {
  grid-row: 2;
  grid-column: 1/9;
  resize: none;
  height: 25vh;
  width: 100%;
  overflow-x: hidden;
}

#contact-form label {
  font-size: 1.2rem;
  max-width: 3rem;
}

#contact-form input:not(input[type='submit']) {
  max-width: 20vw;
}

@media (width < 500px) {
  #contact-form input {
    grid-column: 2/9;
  }
}

#contact-form input[type='submit'] {
  padding: 0.2rem 0.5rem;
  width: fit-content;
  margin-left: auto;
}

#brain {
  padding: 1rem;
  filter: sepia(0.9);
}

#name-field > label::after {
  content: '*';
  padding: 0.2rem;
  color: red;
}

#message-field > label::after {
  content: '*';
  padding: 0.2rem;
  color: red;
}
