/* review draft & core review */
#review-draft-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#review-form-ex {
  display: grid;
  row-gap: 2px;
}

#review-review-textarea {
  min-height: 10ch;
}

#review-form-ex-submit {
  justify-self: end;
  padding: 3px;
  font-size: 0.8rem;
}

/* review submitted */

#review-submitted {
  background-color: #ffd90017;
  border-radius: 0.3rem;
  border: 1px solid black;
  text-align: start;
  padding: 0.7rem;
  margin-bottom: 1rem;
}

#review-submitted-content {
  min-height: 3rem;
}

#review-submitted-buttons {
  display: flex;
  justify-content: end;
  gap: 2px;
}

.review-submitted-button {
  font-size: 0.8rem;
  padding: 0.2rem 0.3rem;
  background-color: #a52a2a44;
  color: white;
}

/* reviews readonly */

#reviews-readonly:not(.empty) {
  max-height: 42vh;
  overflow-y: auto;
  scrollbar-width: thin;
  border: 1px solid burlywood;
  border-radius: 0.3rem;
}

.review-item {
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-columns: auto auto;
  grid-template-areas:
    'stars   date'
    'content content'
    '....... buttons';
  row-gap: 3px;
  min-height: 7rem;
  padding: 0.5rem;
  padding-right: 1rem;
  background-color: #2015079d;
  border: 1px solid burlywood;
  border-bottom: none;
  border-left: none;
  border-right: none;
  text-align: start;
}

.review-item:first-of-type {
  border-top: none;
}

.review-item:last-of-type {
  border-bottom: none;
}

#readonly-stars {
  cursor: default;
  grid-area: stars;
}

.readonly-review-date {
  height: min-content;
  grid-area: date;
  font-size: 0.65rem;
  justify-self: end;
}

.readonly-review-content {
  grid-area: content;
  text-align: start;
  font-size: 0.8rem;
}

.readonly-review-buttons {
  grid-area: buttons;
  justify-self: end;
  align-self: end;

  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  height: min-content;
  column-gap: 3px;
}

.readonly-review-buttons > button {
  font-size: 0.8rem;
  padding: 3px;
  width: auto;
}
