#poems-view {
  width: 100%;
}

#author-review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contextual {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

.noncontextual {
  display: block;
}

.stars {
  display: flex;
  align-items: center;
  width: min-content;
}

.star:hover {
  cursor: pointer;
}
