#poems-view {
  width: 100%;
}

#author-review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contextual {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-items: center;
}

.noncontextual {
  display: flex;
  justify-content: center;
}

.stars {
  display: flex;
  align-items: center;
  width: min-content;
}

.star:hover:not(.readonly) {
  cursor: pointer;
}
