#poems-view {
  width: 95%;
  margin-top: 7.7vh;
}

#author-review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contextual {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-items: center;
}

.noncontextual {
  display: flex;
  justify-content: center;
}

.stars {
  display: flex;
  align-items: center;
  width: min-content;
}

.star:hover:not(.readonly) {
  cursor: pointer;
}

@media (width <= 500px) {
  .contextual {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}
