@keyframes party {
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes pulse {
  to {
    scale: 2;
  }
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

@keyframes slide {
  to {
    transform: translateX(300vw);
  }
}

@keyframes grow {
  to {
    scale: 2;
  }
}
