#poems-view {
  width: 100%;
}

.contextual {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

.noncontextual {
  display: block;
}
